// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$_right: right;
$_left: left;
$_center: center;

.has-green
{
  background-color: green;
  color: white;
}
.bg-div
{
  background-color: #2c3e50;
  overflow: hidden;
}

#mainNav
{
  float: $_right;
  text-align: $_right;

  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li
  {
    color: white;
    margin-left: 5px;
    display: inline;
    float: $_right;
    padding-top: 5px;
  }
}

.logo-right
{
  float: $_right;
}

#ul-inline
{
  ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li
  {
    color: white;
    margin-left: 5px;
    display: inline;
    float: $_right;
    padding-top: 5px;
  }
}


.logo-right ul li
{
  padding-left: 10px;
  float: right;
  text-align: right;
}

.logo-left
{
  float: $_left;
  padding-right: 3px * 5 + 10px;
  padding-left: 20px;
}

.logo-center
{
  float: $_center;
}



// #ul-inline li
// {
//   color: white;
//   margin-left: 5px;
//   display: inline;
//   float: $_right;
//   padding-top: 5px;
// }

#ul-inline-not
{
  color: white;
  margin-right: 20px;
  float: $_right;
  padding-top: 5px;
}


#ul-inline-footer li
{
  color: black;
  display: inline;
}

#test-li
{
  float: $_right;
  text-align: $_right;
}



.box {
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10px;
  margin-left: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:20px 20px 20px 20px;
  min-height:340px;
}
.box-content
  {
  word-wrap: break-word;
  width: 200px * 2;
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

.box:hover
{
  border:2px solid #525C7A;
}

.display-center
{
  float: center;
  width: 500px;
  margin:0 auto;
}
